@charset "UTF-8";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

/*彩色图片加样式变灰色*/
.Graystyle
{
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1);
}

.left75{
    left: 75px !important;
}
.left85{
    left: 85px !important;
}

.bottom70{
    bottom: 70px !important;
}
.w620{
    width: 600px !important;
}
.w418{
    width: 418px !important;
}
.gray{
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.red{
    color: #F00 !important;
}

.no_click{
    color: #DEDEDE !important;
}

.detailIcon{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #49a9ea;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    vertical-align: bottom;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-indent: 0;
}
.external{
    background-color: #FFD102;
    color: #333;
    font-weight: bold;
}
