@charset "UTF-8";
.fc_main{
  width: 499px;
  padding: 1px 0;
  position: relative;
}
.formTip{
  position: absolute;
  bottom: 2px;
  left: 90px;
  color: #f00;
  font-size: 14px;
}
.fc_main_w{
  width: 998px;
}

.fc_box{
  min-height: 40px;
  display:flex;
  flex-direction: row;
  justify-items: center;
}
.fc_title{
  width: 85px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  color: #666666;
  padding-right: 10px;
}
.fc_title_textarea{
  justify-content: flex-start;
  padding-top: 22px;
}

.fc_title_textarea_two{
  justify-content: flex-start;
  padding-top: 13px;
}


.fc_error{
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #FF0000;
  text-indent: 85px;
  text-align: left;
}

.fc_split{
  width:1000px;
  height: 0px;
}



