@charset "UTF-8";

/* 格式化页面布局 *****************
<div class=“form_format”>
  <div>控件</div>
  <div>控件</div>
</div>
*******************************/
.f_hide{
  display: none !important;
}

.f_scanCode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #FFFFFF;
}

.f_scanCode>.txt{
  margin: 0 20px;
  font-size: 20px;
}

.form_format{
  display: flex;
  flex-direction: row;
}
.form_format>div{
  flex: 1;
}

.f_main {
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  margin-bottom: 90px;
}

.f_main_customize{
    padding: 0 20px;
}

.f_flows{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.f_flows>.content{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.f_flows>.content>.step{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.f_flows>.content>.step>.stepName{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.f_flows>.content>.step>.lineArea{
  width: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f_flows>.content>.step>.lineArea>.lineUp{
  width: 3px;
  flex: 1;
  min-height: 46px;
  background-color: #49A9EA;
}



.f_flows>.content>.step>.lineArea>.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.f_flows>.content>.step>.lineArea>.icon:before{
  font-size: 26px;
  color: #49A9EA;
}

.f_flows>.content>.step>.lineArea>.lineDown{
  width: 3px;
  flex: 1;
  min-height: 46px;
  background-color: #49A9EA;
}

.f_flows>.content>.step>.lineRight{
  width: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.f_flows>.content>.step>.lineRight>.line{
  height: 3px;
  width: 62px;
  background-color: #49A9EA;
}

.f_flows>.content>.step>.person{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.f_flows>.content>.step>.person>.items{
  border: 2px dashed  #49A9EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.f_flows>.content>.step>.person>.noDashed{
  border: 2px dashed  #FF0000;
}

.f_flows>.content>.step>.person>.itemsSolid{
  border-style: solid;
}

.f_flows>.content>.step>.person>.items>.item{
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: calc(100% - 10px);
}

.f_flows>.content>.step>.person>.items>.item:hover {
  background-color: #C1E2F8;
}


.f_flows>.content>.step>.person>.items>.item>.txt{
  margin-right: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #333333;
  font-style: italic;
}

.f_flows>.content>.step>.person>.items>.item>.itemCheck:before{
  color: #49a9ea;
}

.f_flows>.content>.step>.person>.items>.item>.itemCross:before{
  color: #FF0000;
}

.f_flows>.content>.step>.info{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.f_flows>.content>.step>.info .basic{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.f_flows>.content>.step>.info .basic>.txt{
  font-style: italic;
  margin-right: 5px;
}

.f_flows>.content>.step>.info .basic>.icon{

}
.f_flows>.content>.step>.info .basic>.iconCheck:before{
  color: #49a9ea;
  font-size: 20px;
}

.f_flows>.content>.step>.info .basic>.iconCross:before{
  color: #FF0000;
  font-size: 20px;
}

.f_flows>.content>.step>.info .remark{
  width: 200px;
  text-align: left;
  color: #666666;
  font-style: italic;
}

.f_flows .no{
  background-color: #DEDEDE !important;
}

.f_flows .noIcon:before{
  color: #DEDEDE !important;
}

.f_flows .stop{
  background-color: #FF0000 !important;
}

.f_flows .stopIcon:before{
  color: #FF0000 !important;
}


.f_schedule{
  height: 50px;
}

.f_schedulefinish{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f_schedulefinish .icon{
  color: #49A9EA;
}

.f_schedulefinish .icon:before{
  font-size: 100px;
}

.f_schedulefinish .txt{
  font-size: 50px;
  color:#333333;
}

.f_scheduleFixed{
  background-color: #E9E9E9;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 999999;
  box-shadow: 0px -1px 2px 2px #00000060;
}

.f_schedule>.item{
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  cursor: pointer;
}

.f_schedule>.item:first-child>.leftUp {
  display: none;
}

.f_schedule>.item:first-child>.leftDown{
  display: none;
}

.f_schedule>.item>.content{
  flex: 1;
  height: 30px;
  color: #FFFFFF;
  background-color: #C0C0C0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.f_schedule>.item>.after{
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #C0C0C0;
}

.f_schedule>.item>.leftUp{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 15px solid #C0C0C0;
  position: absolute;
  left: -20px;
  top: 0;
}

.f_schedule>.item>.leftDown{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 15px solid #C0C0C0;
  position: absolute;
  left: -20px;
  bottom: 0;
}

.f_schedule>.itemHistory>.leftUp{
  border-top: 15px solid #49A9EA;
}

.f_schedule>.itemHistory>.leftDown{
  border-bottom: 15px solid #49A9EA;
}

.f_schedule>.itemHistory>.content{
  background-color: #49A9EA;
}

.f_schedule>.itemHistory>.after{
  border-left: 20px solid #49A9EA;
}

.f_schedule>.itemCurrent>.leftUp{
  border-top: 15px solid #1AA034;
}

.f_schedule>.itemCurrent>.leftDown{
  border-bottom: 15px solid #1AA034;
}

.f_schedule>.itemCurrent>.content{
  background-color: #1AA034;
}

.f_schedule>.itemCurrent>.after{
  border-left: 20px solid #1AA034;
}

.f_schedule>.itemReject>.leftUp{
  border-top: 15px solid #FF0000;
}

.f_schedule>.itemReject>.leftDown{
  border-bottom: 15px solid #FF0000;
}

.f_schedule>.itemReject>.content{
  background-color: #FF0000;
}

.f_schedule>.itemReject>.after{
  border-left: 20px solid #FF0000;
}



.f_area {
  width: 1000px;
  margin: 0 auto;
  background-color: #e9e9e9;
  border-radius: 8px;
  border: solid 1px #d9d9d9;
}

.f_area1200{
  width: 1200px;
}
.f_area1400{
  width: 1400px;
}

.f_areaWidth1235{
  width: 1235px;
}
.h_image{
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.h_image img{
  max-height: 500px;
  max-width: 1000px;
}

.f_main_customize .f_area{
  width:auto;
}

.f_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #d9d9d9;
}

.f_tab_title{
  display: flex;
}

.f_tab_title_btn{
  padding: 15px 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.f_tab_title_active{
  color: #49a9ea;
  border-bottom: 2px solid #49a9ea;
}

.f_flex_column{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
.cancelColumn{
  border: 0 !important;
  background-color: #fff;
}
/*选择页面的操作区*/
.s_operate{
    display: flex;
    padding: 16px 20px 8px 20px;
    align-items: center;
  justify-content: space-between;
}

.s_db_select{
  position: absolute;
  z-index: 99;
  background-color: #49a9ea;
  color: #FFFFFF;
  padding: 4px;
  font-size: 12px;
}

.s_choose{
    margin: 0 20px 0;
    padding: 8px 10px 0;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
}

.s_choose>.chooseBtnBox {
    margin-bottom: 8px;
}

.f_between{
display: flex;
justify-content: space-between;
align-items: center;
}


.f_listtitle {
  background-color: #fff;
  margin: 16px 20px 0;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.f_titleTxt{
  font-size: 16px;
  color: #333;
  padding: 15px 0 15px 0;
}
.f_controls {
  background-color: #e9e9e9;
  border-radius: 8px;
  margin: 16px 0 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.f_split{
  height: 16px;
}

.f_buttom{
  height: 20px;
  width: 998px;
}

.f_table{
  overflow: inherit;
  margin: 0 20px;
  table-layout: fixed
}

.f_table th{
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  background-color: #d4ecfc;
  box-shadow: 0 1px 0 0 #d9d9d9;
  position: relative;
}
.f_table th:after{
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #7975a0;
}
.f_table th:last-child:after{
  display: none;
}
.f_table tbody{
  background-color: #FFFFFF;
}

.f_table tbody tr{
  height: 34px;
  line-height: 34px;
}

.f_table tbody td{
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.f_table tbody tr:hover {
  background-color: #b1e0ff;
  cursor: pointer;
}

.f_table tbody .InterlacBg{
  background-color: #dcdbdb;
}

.f_table tbody tr .center{
  padding-left: 0;
  text-align: center;
}

.f_table tbody tr .right{
  padding-left: 0;
  text-align: right;
}


.f_br{
  width: 500px;
}

.f_operate{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9;
  text-align: center;
  background-color: #dedede;
  box-shadow: 0 -1px 0 0 #ccc;
}
.f_operate .btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_operate .btn>div{
  margin-top: 4px;
  margin-bottom: 4px;
}

.f_operate .btn>.icon{
  margin:0 15px;
  color: #666;
}

.f_operate .btn>.icon:hover{
  color: #49a9ea;
  cursor: pointer;
}

.f_operate .info{
  padding: 2px 25px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #ccc;
}

.f_operate .info  > div > p{
  font-size: 12px;
  color: #999;
  display: inline-block;
}
.f_operate .info  > div > p:last-child{
  margin-left: 15px;
}
