@charset "UTF-8";
.v_area {
    width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: solid 1px #d9d9d9;
}

.v_area_tab {
    width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.v_big_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.v_titleTxt{
    font-size: 16px;
    color: #333;
    padding: 16px;
}

.v_tab_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.v_tab_title>div{
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.v_tab_title>div:hover{
    color: #49a9ea;
}

.v_tab_title>.select{
    background-color: #49a9ea;
    color: #FFFFFF;
    border-radius: 8px 8px 0 0;
}

.v_tab_title>.select:hover{
    color: #FFFFFF;
}

.v_controls {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.v_control{
    display: flex;
    flex-direction: row;
    margin: 0 16px;
    width: 300px;
    line-height: 18px;
}

.v_control_w2{
    width: 632px;
}

.v_control_w3{
    width: 948px;
}


.v_title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    color:#666;
    padding: 12px 0;
    font-weight: bold;
}

.v_content{
    flex: 1;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 12px 0;
}

.v_empty>.m_listNoData{
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.v_customize{
    display: flex;
    flex-direction: row;
}

.v_f_show{
    margin-right: 20px;
    cursor: pointer;
    color: #49a9ea;
}

.v_f_show:hover{
    text-decoration: underline;
}

.v_text_money{
    margin-right: 20px;
}