@charset "UTF-8";

.ac_main{
    margin: 0 0.4267rem;
}

.ac_box{
    border: 0.0267rem solid #BFBFBF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.2133rem;

}

.ac_box>.content{
    flex: 1;
}

.ac_upload{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.ac_upload>div>input[type='file']{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}


.ac_box>input[type='text']{
    font-size: 0.4533rem;
    padding: 0.32rem 0.2133rem;
    width: 100%;
    border-radius: 0.2133rem;
}

.ac_box_show>input[type='text']{
    color: #BFBFBF;
}

.ac_box>.txt{
    font-size: 0.4533rem;
    height: 1.12rem;
    line-height: 1.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac_box>.show{
    flex: 1;
    font-size: 0.4533rem;
    height: 1.12rem;
    line-height: 1.12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.2133rem;
    padding-left: 0.2133rem;
}

.ac_rate{
    width: 1.1733rem;
    height: 1.1733rem;
    border-radius: 50%;
    background-color: #49a9ea;
    color: #FFF;
    text-align: center;
    line-height: 1.1733rem;
    font-size: 0.4533rem;
    margin-top: 0.1067rem;
}


.ac_icon{
    color: #BFBFBF;
    font-size: 0.4533rem;
    height: 1.12rem;
    line-height: 1.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.1067rem 0 0.2133rem;
}

.ac_radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0.9067rem;
    line-height: 0.9067rem;
    margin: 0 0.4267rem 0.1067rem 0;
    padding: 0 0.1067rem;
    border-radius: 0.2133rem;
}

.ac_radio>.txt{
    font-size: 0.4533rem;
}

.ac_radio_checked{
    background-color: #49a9ea;
    color: #FFFFFF;
}

.ac_date_select_panel{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.ac_date_select_panel_main{
    position: relative;
    height: 100%;
    width: 100%;
}

.ac_date_select_pop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 999;
}


.ac_date_select_content{
    position: absolute;
    left: 0.2133rem;
    right: 0.2133rem;
    z-index: 9999;
    background-color: #FFFFFF;
    border: 0.0267rem solid #BFBFBF;
    border-radius: 0.4267rem;
    top:0;
    bottom: 0;
    height: 11rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.ac_date_select_help_content{
    position: absolute;
    left: 0.8533rem;
    right: 0.8533rem;
    z-index: 999999;
    /*border: 0.0267rem solid #BFBFBF;*/
    border-radius: 0.4267rem;
    top:0;
    bottom: 0;
    height: 9rem;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac_date_select_help_pop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 99999;
}

.ac_date_select_title{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-bottom: 0.0267rem solid #BFBFBF;*/
    padding: 0.2133rem;
}

.ac_help_box{
    display: flex;
    flex-direction: row;
}

.ac_help{
    color: #49a9ea;
}

.ac_date_select_body{
    height: 9.1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4267rem;
}

.ac_date_select_body_row{
    height: 9.1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4267rem;
}

.ac_date_select_column{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ac_date_select_column_year{
    width: 6rem;
    font-size: 0.4533rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-indent: 0.4267rem;
}

.ac_date_select_column_month{
    flex: 1;
    font-size: 0.4533rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-indent: 0.4267rem;
}

.ac_date_select_column_year_content{
    width: 6rem;
    height: 7.8rem;
}

.ac_date_select_column_month_content{
    flex: 1;
    height: 7.8rem;
}

.ac_date_select_column>div{
    flex: 1;
    font-size: 0.4533rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
}
.ac_date_select_column>div>span{
    width: 0.7467rem;
    height: 0.7467rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.ac_date_select_column>div>.other{
    color: #BFBFBF;
}

.ac_date_select_column>div>.current{
    color: #49a9ea;
    border-radius: 50%;
    border: 0.0533rem solid #49a9ea;
}

.ac_date_select_column>div>.currentRect{
    color: #49a9ea;
    border-radius: 0.1067rem;
    width: 1.6533rem;
    border: 0.0533rem solid #49a9ea;
}

.ac_date_select_column>div>.select{
    background-color: #49a9ea;
    color: #FFFFFF;
    border-radius: 50%;
}

.ac_date_select_column>div>.selectRect{
    background-color: #49a9ea;
    color: #FFFFFF;
    border-radius: 0.1067rem;
    width: 1.6533rem;
}

.ac_date_select_no {
  background-color: #E9E9E9 !important;
  color: #cccccc !important;
  cursor: not-allowed !important;
}
.ac_date_select_column>div>.noSelect{
  background-color: #E9E9E9 !important;
  color: #CCCCCC !important;
  cursor: not-allowed !important;
}



.ac_focus{
    border: 0.0267rem solid #49a9ea;
    box-shadow: 0 0 0.2133rem #49a9ea;
}

.ac_focus .ac_icon{
    color:#49a9ea;
}

.ac_error{
    border: 0.0267rem solid #FF0000;
    box-shadow: 0 0 0.2133rem #FF0000;
}

.ac_error>input[type='text']{
    color:#FF0000;
}

.ac_error .ac_icon{
    color:#FF0000;
}
