@charset "UTF-8";

.afs12b{
    font-size: 0.32rem;
}

.afs14b{
    font-size: 0.3733rem;
}

.afs17b{
    font-size: 0.4533rem;
}

.afs18b{
    font-size: 0.48rem;
}

.afs24b{
    font-size: 0.65rem;
}