@charset "UTF-8";

aml0{
    margin-left: 0;
}

.aml16{
    margin-left: 0.4267rem;
}



amr0{
    margin-right: 0;
}

.amt4{
    margin-top: 0.1067rem;
}

.amr4b:before{
    margin-right: 0.1067rem;
}

.amr4{
    margin-right: 0.1067rem;
}

.amr8{
    margin-right: 0.2133rem;
}


.amr16{
    margin-right: 0.4267rem;
}