@charset "UTF-8";
.accTit {
  width: 100%;
  padding: 0.26666667rem 0;
  text-align: center;
  font-size: 0.53333333rem;
  border-bottom: 2px solid #ccc;
}
.accTit .solidColor {
  color: #000000;
}
.containerApp {
  padding: 0.4rem 0.4rem 0 0.4rem;
  font-size: 0.37333333rem;
}
.containerApp div {
  padding-bottom: 1.06666667rem;
}
.containerApp div .account {
  display: flex;
}
.containerApp div input::-webkit-input-placeholder {
  color: #BFBFBF;
}
.containerApp div input {
  border: 0;
  color: #333;
  height: 0.66666667rem;
  outline: none;
  font-size: 0.37333333rem;
  width: 56%;
}
.containerApp div span {
  width: 1.5rem;
  margin-left: 0.53333333rem;
}
.containerApp .accountNumber {
  padding: 0.93333333rem 0 0 0;
}
.containerApp .determine {
  margin: 0 auto;
  width: 7.86666667rem;
  height: 1.17333333rem;
  text-align: center;
  line-height: 1.17333333rem;
  font-size: 0.37333333rem;
  color: #FFFFFF;
  background-color: #49a9ea !important;
  border-radius: 0.26666667rem 0.26666667rem 0.26666667rem 0.26666667rem;
  padding-bottom: 0 !important;
}
.containerApp .buttoImage {
  margin-top: 1.46666667rem;
}
.containerApp .buttoImage img {
  width: 100%;
}
.bdb {
  border-bottom: 1px solid #666666 !important;
}
.empty {
  margin-top: 0.16rem;
  color: #FF0000;
  font-size: 0.32rem;
  height: 0.32rem;
  margin-left: 0.2rem !important;
}
